Include /Users/joger/.colima/ssh_config

ServerAliveInterval 30
ControlMaster auto
#ControlPath ~/.ssh/private/master-%r@%h:%p
ForwardAgent yes

Host github.softwareag.com *.trendminer.net github.com
	IdentityAgent /Users/joger/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh

Host tm-*
     User joger
     IdentityFile ~/.ssh/id_rsa

Host *.geraerts.local vm*.umask.net nas
     User jgeraert
     Identityfile ~/.ssh/id_rsa-private

Host elmo
     User jgeraert
     IdentityFile ~/.ssh/id_rsa-private

Host home
     User pi
     IdentityFile ~/.ssh/id_rsa-private

Host bepartners
     User jgeraert
     IdentityFile ~/.ssh/id_rsa-private
     Hostname 81.83.0.146
