ServerAliveInterval 30
ControlMaster auto
ControlPath ~/.ssh/private/master-%r@%h:%p
ForwardAgent yes

Host tm-*
     User developer
     IdentityFile ~/.ssh/id_rsa

Host vm*.umask.net nas
     User jgeraert
     Identityfile ~/.ssh/id_rsa-private

Host elmo
     User ubnt
     IdentityFile ~/.ssh/id_rsa-private

Host home
     User pi
     IdentityFile ~/.ssh/id_rsa-private
